<div class="landing-wrapper">

  <!-- Hero Section -->
  <section class="hero-section">
    <h1 class="hero-title">Choose car, Live dream</h1>
    <p class="hero-subtitle">You are here for the secure and fast shopping </p>
  </section>

  <!-- Özellikler Bölümü -->
  <section class="features-section">
    <div class="feature-box">
      <mat-icon class="feature-icon">security</mat-icon>
      <h3>Safe Buying</h3>
      <p>Infrastructure protected by SSL and authentication</p>
    </div>
    <div class="feature-box">
      <mat-icon class="feature-icon">speed</mat-icon>
      <h3>Fast Deliver</h3>
      <p>Deliver in 24 hour,after accept</p>
    </div>
    <div class="feature-box">
      <mat-icon class="feature-icon">support_agent</mat-icon>
      <h3>7/24 Support</h3>
      <p>EVerytime be with you</p>
    </div>
  </section>

  <section class="about-section">
    <h2>About App</h2>
    <p>
      This platform digitizes vehicle buying and selling processes, providing users with a fast, secure, and user-friendly experience.
      Developed with modern web technologies, our system meets the needs of both individual and corporate users.
    </p>
    <p>
      Thanks to advanced filtering, role-based access control, and secure session management, each user only accesses the areas they are authorized to access.
      Our interface is responsive and intuitive, working seamlessly on desktop and mobile devices.
    </p>
    <p>
      The application is built with Spring Boot and Angular infrastructure.
      It offers a sustainable software experience with JWT-based authentication, dynamic UI components, and a modular architecture.
    </p>
  </section>


</div>
