.viewDetails-button {
  background: #1e88e5 linear-gradient(to right, #000000, #1e88e5);
  color: white !important;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  border: none;
}
.viewDetails-button:hover {
  background-color: #1565c0;
}
.header-row {
  color: white;
  font-weight: bold;
  background: #1e88e5 linear-gradient(to right, #000000, #1e88e5);
}
::ng-deep .mat-paginator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 12px;
}
.filter-panel {
  width: 20%;
  min-width: 200px;
  padding: 0.5rem;
  background-color: #f8f9fa;
  border-radius: 4px;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}
.page-wrapper {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 64px); /* navbar yüksekliği kadar çıkar */
}
.table-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  overflow-y: auto;
}
.filter-header {
  color: white;
  background: #1e88e5 linear-gradient(to right, #000000, #1e88e5);
  padding: 2px 8px;
  border-radius: 4px;
  font-weight: bold;
}
.brand-filter-header {
  padding-left: 10px;
}
.brand-scroll-container {
  max-height: 250px;
  overflow-y: auto;
  padding-right: 8px;
  margin-bottom: 16px;
}
.slider-engine {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: auto;
}
.addToCart-button {
  background: #1e88e5 linear-gradient(to right, #000000, #1e88e5);
  color: white !important;
  border-radius: 4px;
  border: none;
  margin-left: 8px;
  padding: 6px 12px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}
.addToCart-button:hover {
  background-color: #1565c0;
}
::ng-deep .mat-sort-header-arrow {
  color: #ffffff !important;
}
.fab-add-car {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  background: #1e88e5 linear-gradient(to right, #000000, #1e88e5);
}

.custom-paginator{
  padding-right: 50px;
}

.price-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: middle;

  &.cheap {
    background-color: #28a745;
  }
  &.medium {
    background-color: #ffc107;
  }
  &.expensive {
    background-color: #dc3545;
  }
}

